name: swipe_cards
description: Tinder like swipe cards.
version: 0.0.5
homepage: https://github.com/AnupKumarPanwar/swipe_cards

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
